<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password - Cochalate</title>
  <link rel="stylesheet" href="/static/mazer/assets/css/main/app.css" />
  <link rel="stylesheet" href="/static/mazer/assets/css/pages/auth.css" />
  <link rel="shortcut icon" href="/static/mazer/assets/images/logo/favicon.svg" type="image/x-icon" />
  <link rel="shortcut icon" href="/static/mazer/assets/images/logo/favicon.svg" type="image/png" />
</head>

<body>
  <div id="auth">
    <div class="row h-100">
      <div class="col-lg-5 col-12">
        <div id="auth-left">
          <div class="auth-logo">
            <a href="/"><img src="/static/mazer/assets/images/logo/logo.svg" alt="Logo" /></a>
          </div>
          <h1 class="auth-title">Reset Password</h1>
          <p class="auth-subtitle mb-5"></p>
          {% include "auth/alert/alert.html" %}
          <form action="{{url_for('bp_reset_password.reset_password')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
            <input type="hidden" name="username" value="{{username}}" />
            <div class="form-group position-relative has-icon-left mb-4">
              <input type="password" class="form-control form-control-xl" placeholder="password" value="{{password}}"
                name="password" required />
              <div class="form-control-icon">
                <i class="bi bi-key"></i>
              </div>
            </div>
            <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">
              Send
            </button>
          </form>
          <div class="text-center mt-5 text-lg fs-4">
            <p class="text-gray-600">
              Remember your account?
              <a href="/login" class="font-bold">Log in</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right"></div>
      </div>
    </div>
  </div>
  <script src="{{url_for('static',filename='mazer/assets/js/bootstrap.js')}}"></script>
  <script src="{{url_for('static',filename='mazer/assets/js/app.js')}}"></script>
  <script src="{{url_for('static',filename='mazer/assets/extensions/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/js/main/script.js')}}"></script>
</body>

</html>